<a href="https://colab.research.google.com/github/abemkey/abpython/blob/master/PY_NOTES%26PROG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello futura")

hello futura

In [ ]:
a=11
print(type(a))

<class 'int'>

In [ ]:
# git pw ab183872

In [ ]:
a=3+6
print(a)

9

In [ ]:
a=45
b=6
c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
print(c)
print(d)
print(e)
print(f)
print(g)

51
39
270
7.5
3

In [ ]:
a=int(input("enter a nuber"))
b=int(input("enter a nuber"))
c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
print(c,'\n', d,'\n',e,'\n',f,'\n',g)

enter a nuber4
enter a nuber2
6
 2
 8
 2.0
 0

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
a=a+b
b=a-b
a=a-b
print(a,'\n',b)

enter a number2
enter a number3
3
 2

In [ ]:
for a in range(1,11):
  print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum=0
a=int(input("enter a number"))
for a in range(1,a+1):
  sum=sum+a
print(sum)

enter a number3
6

In [ ]:
age=int(input("enter a numbr"))
if(age>18):
  print("eligible for voting")
else:
    print("not eligible for voting")

enter a numbr22
eligible for voting

In [ ]:
mark=int(input("enter a numbr"))
if(mark>=90):
  print("A+ grade")
elif(mark<90 and mark>=80):
  print("A grade")
elif(mark<80 and mark>=60):
  print("B grade")
elif(mark<60 and mark>=40):
  print("passed")
else:
    print("failed")

enter a numbr34
failed

In [ ]:
a=20
print(float(a),'\n')
print(a,'\n')
print(complex(a))

20.0

20

(20+0j)

In [ ]:
a=20
b=23
concat=str(a)+str(b)
print(concat)

2023

In [ ]:
a='welcome'
b=2024
c=a+str(b)
print(c)

welcome2024

In [ ]:
a="""HTML tags are the keywords that are used to produce web pages in various formats. Opening tags and closing tags are found in the majority of tags. The concluding tags contain a forward slash (/), while the language of the beginning tags is the same. Certain tags don’t need to be closed"""
print(a)

HTML tags are the keywords that are used to produce web pages in various formats. Opening tags and closing tags are found in the majority of tags. The concluding tags contain a forward slash (/), while the language of the beginning tags is the same. Certain tags don’t need to be closed

In [ ]:
r=int(input("enter radius"))
a=3.14*r**2
print(a)

enter radius2
12.56

In [ ]:
x=int(input("enter a number"))
y=int(input("enter a number"))
z=(x+y)**2
print(z)

enter a number3
enter a number4
49

In [ ]:
list=['apple','mango','orange']
list[0]
print(list[1])
print(list)

mango
['apple', 'mango', 'orange']

In [ ]:
from ast import Tuple
tuple=('cat','dog','rabbit')
tuple[0]
print(tuple)
print(tuple[2])

('cat', 'dog', 'rabbit')
rabbit

In [ ]:
list=['bmw','benz','audi','volvo']
list[1]
print(list[0],'\n',list[1])

bmw
 benz

In [ ]:
list=['sam','john','rash','antony']
list[1]='onana'
print(list)

['sam', 'onana', 'rash', 'antony']

In [ ]:
list=['sam','john','rash','antony']
list.append('ab')
print(list)

['sam', 'john', 'rash', 'antony', 'ab']

In [ ]:
list=['sam','john','rash','antony']
list.insert(3,'jay')
print(list)

['sam', 'john', 'rash', 'jay', 'antony']

In [ ]:
list=['sam','john','rash','antony']
del list[2]
print(list)

['sam', 'john', 'antony']

In [ ]:
list=['sam','john','rash','antony']
list.remove('rash')
print(list)

['sam', 'john', 'antony']

In [ ]:
list=['sam','john','rash','antony']
list.clear()
print(list)

[]

In [ ]:
list=['sam','john','rash','antony']
print(len(list))

4

In [ ]:
list=['sam','john','rash','antony']

print(type(list))

<class 'list'>

In [ ]:
mylist= list(("sam","john","rash"))

print(mylist)

TypeError: ignored

In [ ]:
list=['sam','john','rash','antony']

print(list[-1])
# access1

antony

In [ ]:
list=['sam','john','rash','antony','mount']

print(list[1:4])
# access2

['john', 'rash', 'antony']

In [ ]:
list=['sam','john','rash','antony','mount']

print(list[:3])
# access3

['sam', 'john', 'rash']

In [ ]:
list=['sam','john','rash','antony','mount']

print(list[2:])
# access4

['rash', 'antony', 'mount']

In [ ]:
list=['sam','john','rash','antony','mount']

print(list[-4:-1])
# access5

['john', 'rash', 'antony']

In [ ]:
list=['sam','john','rash','antony','mount']
if "sam" in list:
  print('yes sam in list')
# access6

yes sam in list

In [ ]:
list=['sam','john','rash','antony','mount']
list[1:3]=['ab','abc']
print(list)
# change1

['sam', 'ab', 'abc', 'antony', 'mount']

In [ ]:
list=['sam','john','rash','antony','mount']
list[1:2]=['ab','abc']
print(list)
# change2

['sam', 'ab', 'abc', 'rash', 'antony', 'mount']

In [ ]:
list=['sam','john','rash','antony',]
list[3:4]=['abc']
print(list)
# change3

['sam', 'john', 'abc', 'antony']

In [ ]:
list=['sam','john','rash','antony']
list1 = ["apple", "banana", "cherry"]
list.extend(list1)
print(list)
# add

['sam', 'john', 'rash', 'antony', 'apple', 'banana', 'cherry']

In [ ]:
list=['sam','john','rash','antony',]
list.pop(2)
print(list)
# remove1

['sam', 'john', 'antony']

In [ ]:
list=['sam','john','rash','antony',]
list.pop()
print(list)
# remove2
# remove last one

['sam', 'john', 'rash']

In [ ]:
list1=["apple","banana","cherry"]
print(list1[2])
# task

cherry

In [ ]:
list1=["apple","banana","cherry"]
list1[1]='mango'
print(list1)
# task

['apple', 'mango', 'cherry']

In [ ]:
list1=["apple","banana","cherry"]
del list1[2]
print(list1)
# task

['apple', 'banana']

In [ ]:
list2=("kiwi","orange")
list1=["apple","banana","cherry"]
list1.extend(li)
print(list1)
# task

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
list1=[19, 19, 15,2, 3, 5, 5, 2]
a=list1.count(19)
b=list1.count(5)
if (a==2 and b>=3):
 print('true')
else:
  print('false')

false

In [ ]:
list1=[19, 19, 15, 5, 3, 5, 5, 2]
a=list1.count(19)
print(a)

2

In [ ]:
list=['apple','banana','kiwi','orange','apple','kiwi','apple']
a=set(list)
print(a)

{'kiwi', 'apple', 'orange', 'banana'}

In [ ]:
list=['apple','banana','kiwi','orange','apple','kiwi','apple']
a=len(list)
print(a)
# length o string

7

In [ ]:
# sort list
mylist=['ab','gh','ef','cd']
mylist.sort()
print(mylist)
mylist.sort(reverse=True)
print(mylist)

['ab', 'cd', 'ef', 'gh']
['gh', 'ef', 'cd', 'ab']

In [ ]:
# copy list
mylist=['apple','kiwi','mango']
ab=mylist.copy()
print(ab)
a=list(mylist)
print(a)

['apple', 'kiwi', 'mango']
['apple', 'kiwi', 'mango']

In [ ]:
# join list
myfru=["apple","mango","kiwi"]
mynum=[2,6,7]
list1=myfru+mynum
print(list1)
list2=mynum+myfru
print(list2)

['apple', 'mango', 'kiwi', 2, 6, 7]
[2, 6, 7, 'apple', 'mango', 'kiwi']

In [ ]:
# joint list
# append

list1=['a','b','c']
list2=[1,2,3]
for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# joint list
# extnd

list1=['a','b','c']
list2=[1,2,3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# A tuple is a collection which is ordered and unchangeable.

# Tuples are written with round brackets.
# Tuple items are ordered, unchangeable, and allow duplicate values.
mytuple = ("apple", "banana", "cherry")
print(mytuple)
print(len(mytuple))
# len

('apple', 'banana', 'cherry')
3

In [ ]:
# One item tuple, remember the comma
tuple = ("apple",)
print(type(tuple))

<class 'tuple'>

In [ ]:
# not a tuple
tuple = ("apple")
print(type(tuple))

<class 'str'>

In [ ]:
#The tuple() Constructor

#It is also possible to use the tuple() constructor to make a tuple

tp = tuple(("apple", "banana", "cherry"))
#note the double round-brackets
print(tp)

TypeError: ignored

In [ ]:
# Access Tuple Items

mytuple = ("apple", "banana", "cherry")
print(mytuple[1])
print(mytuple[-1])

banana
cherry

In [ ]:
# Tuple
# Range of Indexes
# You can specify a range of indexes by specifying where to start and where to end the range.

# When specifying a range, the return value will be a new tuple with the specified items.

a=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(a[2:5])

# By leaving out the start value, the range will start at the first item:

print(a[:4])

# By leaving out the end value, the range will go on to the end of the tuple:

print(a[2:])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
# Check if Item Exists

# To determine if a specified item is present in a tuple use the in keyword:

a=("apple", "banana", "cherry")
if "apple" in a:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
# Python - Update Tuples->

# Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created

# Change Tuple Values->

# You can convert the tuple into a list, change the list, and convert the list back into a tuple.

x = ("apple", "banana", "cherry")
a=list(x)
print(a)
# a[1]="kiwi"
# x= tuple(a)

# print(x)

TypeError: ignored

In [ ]:
# Add Items

# Since tuples are immutable, they do not have a built-in append() method.
# you can convert it into a list, add your item(s), and convert it back into a tuple.

mytuple = ("apple", "banana", "cherry")
y = list(mytuple)
y.append("orange")
mytuple = tuple(y)
print(mytuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Add tuple to a tuple
fruits = ("apple", "banana", "cherry")
y = ("orange",)
fruits += y

print(fruits)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Remove Items
# You cannot remove items in a tuple,bcz Tuples are unchangeable
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

mytuple = ("apple", "banana", "cherry")
y = list(mytuple)
y.remove("apple")
mytuple = tuple(y)
print(mytuple)

TypeError: ignored

In [ ]:
# Unpacking a Tuple
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
# But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

# Note: The number of variables must match the number of values in the tuple,
if not, you must use an asterisk to collect the remaining values as a list.

apple
banana
cherry

In [ ]:
# Unpacking a Tuple

# Using Asterisk*

# If the number of variables is less than the number of values,
# you can add an * to the variable name and the values will be assigned to the variable as a list:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

# If the asterisk is added to another variable name than the last,
# Python will assign values to the variable until the number of values left matches the number of variables left.

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
# If the asterisk is added to another variable name than the last,
# Python will assign values to the variable until the number of values left matches the number of variables left.

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
# Join Two Tuples

# To join two or more tuples you can use the + operator:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
# Multiply Tuples
# If you want to multiply the content of a tuple a given number of times, you can use the * operator:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
# Python Sets

# unordered, unchangeable*, and unindexed.
# Note: Set items are unchangeable, but you can remove items and add new items.

myset = {"apple", "banana", "cherry"}
print(myset)

#Note: Sets are unordered, so you cannot be sure in which order the items will appear.

{'cherry', 'apple', 'banana'}

In [ ]:
# Python Sets

# Duplicates Not Allowed
# Note:1. The values True and 1 are considered the same value in sets, and are treated as duplicates:
# 2. The values False and 0 are considered the same value in sets, and are treated as duplicates:
# Get the Length of a Set-->>   len() function.
# The set() Constructor->>
# It is also possible to use the set() constructor to make a set.

thisset = set(("apple", "banana", "cherry"))
print(thisset)

# note the double round-brackets

{'cherry', 'apple', 'banana'}

In [ ]:
# Python Sets
# Access Set Items->>
# You cannot access items in a set by referring to an index or a key.

# you can loop through the set items using a for loop,
# or ask if a specified value is present in a set, by using the in keyword.

myset = {"apple", "banana", "cherry"}

for x in myset:
  print(x)

cherry
apple
banana

In [ ]:
# Python Sets

# Change Items->>
# Once a set is created, you cannot change its items, but you can add new items.

# To add one item to a set use the add() method.

myset = {"apple", "banana", "cherry"}

myset.add("orange")

print(myset)

{'cherry', 'apple', 'banana', 'orange'}

In [ ]:
# Python Sets

# Add Sets->>
# To add items from another set into the current set, use the update() method

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "mango", "papaya"}

set1.update(set2)

print(set1)

# The object in the update() method does not have to be a set,
# it can be any iterable object (tuples, lists, dictionaries etc.).

myset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

myset.update(mylist)

print(myset)

{'apple', 'banana', 'mango', 'pineapple', 'papaya', 'cherry'}
{'kiwi', 'apple', 'banana', 'cherry', 'orange'}

In [ ]:
# Python Sets

# Python - Remove Set Items-->>
# To remove an item in a set, use the remove(), or the discard() method.

myset = {"apple", "banana", "cherry"}

# Remove "banana" by using the remove() method:

myset.remove("banana")

print(myset)

# Note: If the item to remove does not exist, remove() will raise an error.

# Remove "banana" by using the discard() method:

myset.discard("banana")

print(myset)

# Note: If the item to remove does not exist, discard() will NOT raise an error.

# Remove a random item by using the pop() method:

# You can also use the pop() method to remove an item, but this method will remove a random item,
# so you cannot be sure what item that gets removed.

# The return value of the pop() method is the removed item.

x = myset.pop()

print(x)

print(myset)

{'cherry', 'apple'}
{'cherry', 'apple'}
cherry
{'apple'}

In [ ]:
# Python Sets

# The clear() method empties the set:

aset = {"apple", "banana", "cherry"}

aset.clear()

print(aset)

# The del keyword will delete the set completely:

set1 = {"apple1", "banana2", "cherry3"}

del set1

print(set1)
#this will raise an error because the set no longer exists

set()

NameError: ignored

In [ ]:
# Python Sets

# Set Methods->>
# Python has a set of built-in methods that you can use on sets.

# difference()	Returns a set containing the difference between two or more sets

# difference_update()	Removes the items in this set that are also included in another, specified set

# isdisjoint()	Returns whether two sets have a intersection or not

# issubset()	Returns whether another set contains this set or not

# issuperset()	Returns whether this set contains another set or not

In [ ]:
# Dictionary

# Dictionaries are used to store data values in key:value pairs.

# ordered*, changeable and do not allow duplicates->>>
# As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict)

# Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

print(dict["brand"])

# possible to use the dict() constructor to make a dictionary.

dict1 = dict(name = "John", age = 36, country = "Norway")

print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

TypeError: ignored

In [ ]:
# Dictionary

# Duplicates Not Allowed
# Dictionaries cannot have two items with the same key:

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(dict)

# Duplicate values will overwrite existing values:

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
# Dictionary

# Accessing Items->>
# by referring to its key name, inside square brackets:

thedict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thedict["model"]
print(x)

# There is also a method called get() that will give you the same result:
y= thedict.get("year")
print(y)

Mustang
1964

In [ ]:
# Dictionary

# Get Keys
# The keys() method will return a list of all the keys in the dictionary.

dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = dict1.keys()

print(x)

# The list of the keys is a view of the dictionary,
# meaning that any changes done to the dictionary will be reflected in the keys list.
# Add a new item to the original dictionary, and see that the keys list gets updated as well:

dict1["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
# Dictionary
# Get Values
# The values() method will return a list of all the values in the dictionary.

dict1= {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = dict1.values()

print(x)

# The list of the values is a view of the dictionary,
# meaning that any changes done to the dictionary will be reflected in the values list.

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
# Dictionary

# Get Items
# The items() method will return each item in a dictionary, as tuples in a list.

dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = dict1.items()

print(x)

# The returned list is a view of the items of the dictionary,
#  meaning that any changes done to the dictionary will be reflected in the items list.

# Check if Key Exists
# To determine if a specified key is present in a dictionary use the in keyword:

if "model" in dict1:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
# Dictionary
# Change Dictionary Items
# Change Values-->>
# You can change the value of a specific item by referring to its key name:

dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict1["year"] = 2018
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
# Dictionary

# Update Dictionary
# The update() method will update the dictionary with the items from the given argument.

# The argument must be a dictionary, or an iterable object with key:value pairs.

mydict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict.update({"year": 2020})
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
# Dictionary

# Add Dictionary Items->>
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:

dict2 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict2["color"] = "red"
print(dict2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
# Dictionary

# Update Dictionary->>

# The update() method will update the dictionary with the items from a given argument.
# If the item does not exist, the item will be added.

# The argument must be a dictionary, or an iterable object with key:value pairs.
x = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x.update({"color": "red"})
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
# Dictionary

# Removing Items

# The pop() method removes the item with the specified key name:

# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

# The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "color":red
}
print(thisdict)
thisdict.pop("model")
thisdict.popitem()
del thisdict["brand"]
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'cherry'}
{'year': 1964}

In [ ]:
sum=0
for i in range(10,1,1):
  sum=sum+i
print(sum)

45

In [ ]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
# Looping Through a String

for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
# The break Statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
# continue Statement

for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
banana
apple
cherry

In [ ]:
# range() Function
# The range() function returns a sequence of numbers, starting from 0 by default,
# and increments by 1 (by default), and ends at a specified number.

for x in range(6):
  print(x)

print('***')
# Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

# Using the start parameter:
for y in range(2, 6):

  print(y)

# The range() function defaults to increment the sequence by 1,
# however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

0
1
2
3
4
5
***
2
3
4
5

In [ ]:
# Else in For Loop

for x in range(5):
  print(x)
else:
  print('finished')

0
1
2
3
4
finished

In [ ]:
# Note: The else block will NOT be executed if the loop is stopped by a break statement.
for x in range(6):
  if x==3:
    break
  print(x)
else:
  print('finished')

0
1
2

In [ ]:
i=0
sum=0
while i<6:
  sum=sum+i
  i+=1
print(sum)

# Note: remember to increment i, or else the loop will continue forever.

15

In [ ]:
x=0
while x<5:
  print(x)
  if x==3:
    break
  x+=1

0
1
2
3

In [ ]:
# The continue Statement

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
# Loop Lists
# for loop

flowers=['rose','jasmine','lilly','tulip']
for x in flowers:
  print(x)

rose
jasmine
lilly
tulip

In [ ]:
# Loop Lists
# Loop Through the Index Numbers

flowers=['rose','jasmine','lilly','tulip']
for x in range(len(flowers)):
  print(flowers[x])

rose
jasmine
lilly
tulip

In [ ]:
# Loop Lists

# While Loop

flowers=['rose','jasmine','lilly','tulip']
x=0
while x<len(flowers):
  print(flowers[x])
  x+=1

rose
jasmine
lilly
tulip

In [ ]:
# Loop Lists
# Looping Using List Comprehension

flowers=['rose','jasmine','lilly','tulip']
[print(x) for x in flowers]

rose
jasmine
lilly
tulip

[None, None, None, None]

In [ ]:
# Loop Tuples

flowers=('rose','jasmine','lilly','tulip')
for y in flowers:
  print(y)

rose
jasmine
lilly
tulip

In [ ]:
# Loop Tuples
# Loop Through the Index Numbers

flowers=('rose','jasmine','lilly','tulip')
for y in range(len(flowers)):
  print(flowers[y])

rose
jasmine
lilly
tulip

In [ ]:
# Loop Tuples

# While Loop

flowers=('rose','jasmine','lilly','tulip')
x=0
while x<len(flowers):
  print(flowers[x])
  x+=1

In [ ]:
# Loop Sets

myset={'apple','kiwi','mango'}
for x in myset:
  print(x)

kiwi
mango
apple

In [ ]:
# Loop Dictionaries

# When looping through a dictionary, the return value are the keys of the dictionary

mydictio={
    'brand':'maruti',
    'model':'alto',
    'year':'2004'
}
for x in mydictio:
  print(x)
  # Print all values in the dictionary, one by one:

for y in mydictio:
  print(mydictio[y])

brand
model
year
maruti
alto
2004

In [ ]:
for i in range(10):
  for j in range(i+1):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(0,10):
  for j in range(10,i,-1):
    print(j,end=' ')
  print()

10 9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2
10 9 8 7 6 5 4 3
10 9 8 7 6 5 4
10 9 8 7 6 5
10 9 8 7 6
10 9 8 7
10 9 8
10 9
10

In [ ]:
for i in range(10):
  for j in range(i+1):
    print(i+1,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [ ]:
for i in range(10):
  for j in range(i+1):
    print(j+1,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(10):
  for j in range(1,11):
    print('*',end=' ')
  print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
# Task1

for i in range(8):
  for j in range(8,i+1,-1):
    print('7',end=' ')
  print()

7 7 7 7 7 7 7
7 7 7 7 7 7
7 7 7 7 7
7 7 7 7
7 7 7
7 7
7

In [ ]:
# Task2

for i in range(7):
  for j in range(i+1):
    print(j+1,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [ ]:
# Task3

for i in range(6):
  for j in range(8,i+1,-1):
    print(i+1,end=' ')
  print()

1 1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3
4 4 4 4
5 5 5
6 6

In [ ]:
# Task4

for i in range(7):
  for j in range(i+1,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1

In [ ]:
for i in range(5):
  for j in range(1,6):
    print(j,end=' ')
  print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
for i in range(10):
  for k in range(10,i,-1):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

                    *
                  * *
                * * *
              * * * *
            * * * * *
          * * * * * *
        * * * * * * *
      * * * * * * * *
    * * * * * * * * *
  * * * * * * * * * *

In [ ]:
# Triangle

for i in range(10):
  for k in range(10,i,-1):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end='   ')
  print()

                    *
                  *   *
                *   *   *
              *   *   *   *
            *   *   *   *   *
          *   *   *   *   *   *
        *   *   *   *   *   *   *
      *   *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *   *

In [ ]:
# inverted triangle

for i in range(10):
  for k in range(i):
    print(' ',end=' ')
  for j in range(10,i,-1):
    print('*',end='   ')
  print()

*   *   *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *
      *   *   *   *   *   *   *
        *   *   *   *   *   *
          *   *   *   *   *
            *   *   *   *
              *   *   *
                *   *
                  *

In [ ]:
# Diamon
for i in range(10):
  for k in range(10,i,-1):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end='   ')
  print()
for i in range(10):
  for k in range(i):
    print(' ',end=' ')
  for j in range(10,i,-1):
    print('*',end='   ')
  print()

                    *
                  *   *
                *   *   *
              *   *   *   *
            *   *   *   *   *
          *   *   *   *   *   *
        *   *   *   *   *   *   *
      *   *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *   *
*   *   *   *   *   *   *   *   *   *
  *   *   *   *   *   *   *   *   *
    *   *   *   *   *   *   *   *
      *   *   *   *   *   *   *
        *   *   *   *   *   *
          *   *   *   *   *
            *   *   *   *
              *   *   *
                *   *
                  *

In [ ]:
# functions

def sum(a,b):
  c=a+b
  print(c)
sum(1,4)

5

In [ ]:
def tria(n):
  for i in range(n):
    for j in range(i+1):
      print('*',end=' ')
    print()
tria(7)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
def tria(n):
  for i in range(n):
    for k in range(n,i,-1):
      print(' ',end=' ')
    for j in range(i+1):
      print('*',end=' ')
    print()
tria(8)

                *
              * *
            * * *
          * * * *
        * * * * *
      * * * * * *
    * * * * * * *
  * * * * * * * *

In [ ]:
# Python *args

# In Python, *args is used in function definitions to allow the function to accept an arbitrary number of positional arguments.
# This feature is part of Python's support for flexible function parameter lists.
# Here's a detailed explanation and examples of how *args works:

# Using *args
# When you prefix a parameter with * in a function definition, it collects all the additional
# positional arguments passed to the function into a tuple.
# This allows you to handle functions with a variable number of arguments

def my_function(*args):
    for arg in args:
        print(arg)
my_function(1, 2, 3)

1
2
3

In [ ]:
# Python **kwargs

# In Python, **kwargs is a special syntax used in function definitions to pass
# a variable number of keyword arguments. "kwargs" stands for "keyword arguments" and
# allows you to handle named arguments that are not explicitly defined in the function signature.



# Arbitrary Kword Arguments are often shortened to **kwargs in Python documentations.

# used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star.
# The reason is that the double star allows us to pass through keyword arguments (and any number of them).

# A keyword argument is where you provide a name to the variable as you pass it into the function

# One can think of the kwargs as being a dictionary that maps each keyword to the value that we pass alongside it.
# That is why when we iterate over the kwargs there doesn’t seem to be any order in which they were printed out.

In [ ]:
def num(n):
  for i in range(0,n):
    for j in range(n,i,-1):
      print(j,end=' ')
    print()
num(12)

12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2
12 11 10 9 8 7 6 5 4 3
12 11 10 9 8 7 6 5 4
12 11 10 9 8 7 6 5
12 11 10 9 8 7 6
12 11 10 9 8 7
12 11 10 9 8
12 11 10 9
12 11 10
12 11
12

In [ ]:
def num(n):
  for i in range(n+1):
    for j in range(n+1,i+1,-1):
      print(n,end=' ')
    print()
num(7)

7 7 7 7 7 7 7
7 7 7 7 7 7
7 7 7 7 7
7 7 7 7
7 7 7
7 7
7

In [ ]:
# Python Try Except

In [ ]:
def sum(a,b):
  c=a+b
  print(c)
sum(1,3)

4

In [ ]:
def ab(name,age,salary):
  print(salary)
ab(salary=10000,age=27,name='abhi')

10000

In [ ]:
def mk(a,b,c=20,d=30):
  print(a,b,c,d)
mk(1,2)
mk(1,2,4)
mk(1,2,8,9)

1 2 20 30
1 2 4 30
1 2 8 9

In [ ]:
def fun(*args):
  print(args)
fun(1,8,6)

(1, 8, 6)

In [ ]:
def ab(a,b,*args):
  print(a,b,*args)
  print(args)

ab(1,2,7,8,4)

1 2 7 8 4
(7, 8, 4)

In [ ]:
def person(**details):
  print(details)
person(name='abhi',salary=23000,age=32,place='calicut')

{'name': 'abhi', 'salary': 23000, 'age': 32, 'place': 'calicut'}

In [ ]:
list=['apple','banana','cherry','grape']
list[0]='kiwi'
print(list)
a=len(list)
print(a)
print(list[2:5])

['kiwi', 'banana', 'cherry', 'grape']
4
['cherry', 'grape']

In [ ]:
mytuple=('apple','banana','cherry','apple','grape')
a=mytuple.count('apple')
print(a)
x=list(mytuple)
print(x)
x[2]='pappaya'
print(x)
mytuple=tuple(x)
print(mytuple)

2
['apple', 'banana', 'cherry', 'apple', 'grape']
['apple', 'banana', 'pappaya', 'apple', 'grape']
('apple', 'banana', 'pappaya', 'apple', 'grape')

In [ ]:

x=input("enter a letter")
if (x == 'a' or x == 'e' or x == 'i' or
		x == 'o' or x == 'u' or x == 'A' or
		x == 'E' or x == 'I' or x == 'O' or
		x == 'U'):
		print("Vowel")
else:
		print("Consonant")

enter a letters
Consonant

In [ ]:
num=input("enter a number")
sum=0
for i in num:
  sum+=int(i)**len(num)
print(sum)
if sum==int(num):
  print("number is an amstrong number")
else:
  print("number is not an amstrong number")

enter a number153
153
number is an amstrong number

In [ ]:
mylist=list(range(1,25+1))
evenlist=[i for i in mylist if i%2==0 if i%4==0]
print(evenlist)

[4, 8, 12, 16, 20, 24]

In [ ]:
x="malayalam9"
print(x[::-1])

9malayalam

In [ ]:
mylist=["malayalam",'futura','civic','apple']
plist=[i for i in mylist if i[::-1]==i]
print(plist)

['malayalam', 'civic']

In [ ]:
myset=set(range(1,25+1))
print(myset)
pset={i for i in myset if i%2==0}
print(pset)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24}

In [ ]:
mydictionary={i:i**2 for i in range(1,10+1)}
print(mydictionary)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
mydictionary={1:'amal',
              2:'mohit',
              3:'riyas',
              4:'ansar',
              }
mylist={i:i**2 for i in mydictionary.keys()}
print(mylist)

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
mygen=[1,2,3,3,3,5,6,7,5,9]
opgen=(i for i in mygen if i%2==0)
print(opgen)
for a in opgen:
  print(a,end=' ')

<generator object <genexpr> at 0x7d95d8ea1620>
2 6

In [ ]:
mylist=[2,7,8,9,7,11]
sqlist=[i**2 for i in mylist if i**2>50]
print(sqlist)

[64, 81, 121]

In [ ]:
sentence='welcome to kerala nice to meet you '
# for i in sentence:
  # print(i,end=' ')
myset={len(i) for i in sentence.split() }
print(myset)

{2, 3, 4, 6, 7}

In [ ]:
dictdemo=[1,2,3,4,5,6,7]
mydict={i:i**3 for i in dictdemo if i%2}
print(mydict)

{1: 1, 3: 27, 5: 125, 7: 343}

In [ ]:
def sum(a,b):
  c=a+b
  return c
print(sum(2,3))
r=sum(2,3)+10
print(r)

5
15

In [ ]:
def fact(n):
  if n<=1:
    return 1
  else:
    return n*fact(n-1)
print(fact(3))

6

In [ ]:
n=int(input("enter a numbr"))
def sum(n):
  if n<=1:
    return 1
  else:
    return n+sum(n-1)
print(sum(n))

enter a numbr5
15

In [ ]:
mylist=[4,7,8,9,3]
def sum(mylist):
  if  len(mylist)==1:
    return mylist[0]
  else:
    return mylist[0]+sum(mylist[1:])
print(sum(mylist))

31

In [ ]:
sum=lambda x,y:x+y
print(sum(2,3))

5

In [ ]:
def myfun(x):
  return lambda a:a*x
y=myfun(10)
print(y(2))

20

In [ ]:
a=lambda x:x+15
print(a(2))

17

In [ ]:
mult=lambda x,y:x*y
print((mult(2,3)))

6

In [ ]:
a=int(input("enter a number"))
n=int(input("enter the limit"))
def mult(a,n):
  for b in range (1,n+1,1):

    print(a*b)
mult(a,n)

enter a number5
enter the limit5
5
10
15
20
25

In [ ]:
a=int(input("enter the number"))
def sum(a):
  s=0
  for n in range(1,a+1,1):
    s=s+n
  print(s)
sum(a)

enter the number5
15

In [ ]:
a=int(input('enter the number'))
b=int(input('enter the number'))
def max(a,b):
  if a>b:
    return a
  else:
    return b
print(max(a,b))

enter the number6
enter the number7
7

In [ ]:
for i in range(5):
  for j in range(i+1):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
class X:
  def ab(self):
    print("car name")
a=X()
a.ab()

car name

In [ ]:
class Student():
  name="toyota"
  def __init__(self,model):
    self.model=model

  def ab(self):
    print('my name is',self.model)
# print(Student.name)
s1=Student(2023)
s1.ab()
s2=Student(2012)
s2.ab()

my name is 2023
my name is 2012

In [ ]:
class Employee():
  company_name="kfc"

  def __init__(self,name,salary):
    self.name=name
    self.sallary=salary

  def show(self):
    print("i am employee",self.name,"my salary is",self.sallary)
e1=Employee('abhi',12000)
e1.show()
e2=Employee('adarsh',15000)
e2.show()
e3=Employee('sam',18000)
e3.show()

i am employee abhi my salary is 12000
i am employee adarsh my salary is 15000
i am employee sam my salary is 18000

In [ ]:
class Car():
  wheel=4
  @classmethod
  def count(ab):
    print(ab.wheel)
Car.count()

4

In [ ]:
class Bus():
  @staticmethod
  def sum(a,b):
    print(a+b)
Bus.sum(2,9)

11

In [ ]:
# task1

class Vehicle():

  def __init__(self,speed,milege):
    self.speed=speed
    self.milege=milege

  def details(self):
    print(self.speed,self.milege)

car=Vehicle(100,20)
car.details()

100 20

In [ ]:
# task2
class Vehicles():
  pass

In [ ]:
# task3
for n in range(1,11):
    print(n+(n-1))

1
3
5
7
9
11
13
15
17
19

In [ ]:
# __init__

# The __init__ method in Python is a special method used to initialize a newly created object.
# It is known as the constructor in object-oriented programming.
# When you create a new instance of a class, Python automatically calls the __init__ method to initialize the object's attributes.
# Here’s a basic example:

class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Creating an instance of the Dog class
my_dog = Dog("Buddy", 3)

print(my_dog.name)
print(my_dog.age)


# -->Method Signature: The __init__ method is defined with self as its first parameter.
# self refers to the instance of the object itself.
# -->Initialization: The parameters provided to __init__ during object creation are used
# to initialize the object’s attributes.
# -->Automatic Invocation: __init__ is automatically called when a new instance of the class is created.


# Example Explanation:
# Dog is a class with an __init__ method that takes two parameters (besides self): name and age.
# When my_dog = Dog("Buddy", 3) is executed, a new Dog object is created, and the __init__ method initializes my_dog with the name "Buddy" and age 3.
# The attributes name and age are then accessible through the my_dog instance.

Buddy
3

In [ ]:
class Vehicle():

  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price

  def details(self):
    print(self.name,self.model,self.price)

class Car(Vehicle):

  def gear_change(self,no):
    print(self.name,'gear position is',no)
car=Car('bmw','x6',3500000)
car.details()
car.gear_change(5)

bmw x6 3500000
bmw gear position is 5

In [ ]:

    super().__init__(name,model,price)
car=Car("a",2023,900)
car.gear_change()

# class Red(Car):
  # def colors(self,color):
    # print(self.name,'gear position is',no)

TypeError: Car.__init__() takes 1 positional argument but 4 were given

In [ ]:
class Gfather():
   def func1(self):
    print("grandpa class")

class Father(Gfather):
  def func2(self):
    print("father class")

class Son(Father):
  pass

s1=Son()
s1.func2()

father class

In [ ]:
class Vehicle():

  def __init__(self,name,model,price):
    self.name=name
    self.model=model
    self.price=price

  def details(self):
    print(self.name,self.model,self.price)

  def max_speed(self):
    print('max speed is 150')

  def gear_change(self):
    print('gear position is 4')

class Car(Vehicle):

  def max_speed(self):
    print('max speed is 240')

  def gear_change(self):
    print('gear position is 2')
    super().gear_change()

car=Car('maruti','swift',200000)
car.details()
car.max_speed()
car.gear_change()

maruti swift 200000
max speed is 240
gear position is 2
gear position is 4

In [ ]:
from abc import ABC, abstractmethod
class Animal(ABC):
  @abstractmethod
  def move(self):
    pass
class Human(Animal):
  def move(self):
    print('human')

class Snake(Animal):
  def move(self):
    print('snake')

class Dog(Animal):
  def move(self):
    print('dog')

h=Human()
h.move()
s=Snake()
s.move()

human
snake

In [ ]:
class Base:
  def __init__(self):
    self.a=10
    self.__c=20
  def get_c(self):
    return self.__c
  def set_c(self,value):
    self.__c=value

class Derived(Base):
  def __init__(self):
    Base.__init__(self)
    print(self.get_c())

obj1=Derived()
obj1.set_c(15)
print(obj1.get_c())

20
15

In [ ]:

x=10
y=2
try:
  z=x/y
  print(z)

except:
  print("exception")
finally:
  print('b')

5.0
b

In [ ]:
x=10
y=0
try:
  z=x/y
  print(z)
except ZeroDivisionError:
  print("exception occured")

  z=x
  print(z)

exception occured
10

In [ ]:
from logging import exception
x=10
y=2
try:
  z=x/n
  print(z)
except ZeroDivisionError:
  print("zero exception occured")
except NameError:
  print("name error occured")
except exception as e:
  print("exception",e)
else:
  print("no exception")

name error occured

In [ ]:
x=1
y=2
n=2
if x<5:
  raise Exception('value of x less than 5')
else:
  print(x)

Exception: value of x less than 5

In [ ]:
# DECORATORS

>>In Python, decorators are a powerful and expressive tool that allow you to
  modify the behavior of a function or a method without changing its actual code.
  A decorator is a higher-order function, meaning it takes a function as an argument
  and returns a new function that usually extends or alters the behavior of the original function.

>>A decorator is a function that takes another function as an argument and
  returns a new function that typically adds some kind of behavior before or
  after calling the original function

  # Decorator function
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

# Function to be decorated
@my_decorator
def say_hello():
    print("Hello!")

# Call the decorated function
say_hello()

# output

Something is happening before the function is called.
Hello!
Something is happening after the function is called.

>>># The say_hello function is passed to my_decorator.
>>># The wrapper function inside my_decorator is returned.
>>># When say_hello() is called, it is replaced by the wrapper function,
   #which adds behavior before and after calling the original say_hello.


        # range() function

>>In Python, the range() function is often used in a for loop to generate
  a sequence of numbers for iteration

>>It's a versatile function that provides control over the start,
  stop, and step values of the sequence.
  # Syntax

        range(start, stop, step)

# start (optional):
                   The beginning of the sequence. Defaults to 0 if omitted.
# stop (required):
                   The end of the sequence (exclusive).
# step (optional):
                   The difference between each number in the sequence. Defaults to 1.

        Basic Example

1.       for i in range(5):
          print(i)
                  #  --By default, range() starts at 0 and goes up to (but does not include) the stop value.

2.       for i in range(1, 10, 2):
          print(i)
                    #  --The step value is 2, so the sequence increments by 2.
                    #  --If no step is provided, it defaults to 1.

3.  fruits = ["apple", "banana", "cherry"]
      for i in range(len(fruits)):
            print(f"Index {i}: {fruits[i]}")

               Index 0: apple
               Index 1: banana
               Index 2: cherry

                  #  --Use range() to iterate over indices of a list, string, or other iterable:

In [ ]:
a=int(input('enter the number of small pizza'))
b=int(input('enter the number of medium pizza'))
c=int(input('enter the number of large pizza'))

e=int(input('enter the number of extra cheeses'))
bill=a*170+b*230+c*280+e*10
print(bill)

1

enter the number of small pizza2
enter the number of medium pizza1
enter the number of large pizza3
enter the number of extra cheeses2
1430

In [ ]:
for i in range(1,8):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1

In [ ]:
mylist=['dog','cat','donot','shatter','at','todo']
max_len=0
for i in mylist:
  if (len(i)>max_len):
    max_len=len(i)
    longest=i
print(longest)

shatter

In [ ]:
def ArrayChallenge():
  mylist=[44,30,24,32,35,30,40,38,15]
  min=mylist[0]
  max=mylist[8]
  for y in range(len(mylist)-1):
    if mylist[y]< mylist[y+1]:
      if mylist[y]<min:
        min=mylist[y]

    if mylist[y+1]> mylist[y]:
      if mylist[y+1]>max:
        max=mylist[y+1]

  print(min)
  print(max)
  max_profit=max-min
  print(max_profit)
ArrayChallenge()

24
40
16

In [ ]:
f = open("myfile.txt", "w")
f.write("hello futura labs. futura labs providing technology learning")
f = open("myfile.txt", "r")
# print(f.read())
a=f.read()

b=a.count("futura")
print(b)
print(a)
f.close()

2
hello futura labs. futura labs providing technology learning